/* 
------------- Fonts -------------
 */
@import url(../fonts/rift.css);
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,700;1,400&display=swap");
/*

0 - 600px:  phone
600 - 900px:    Tablet Protrait
900 - 1200px:   Tablet Landscape
[1200 - 1800] is where our normal styles apply
1800px +:   Big Desktop

*/
/* 

$breakpoint argument choices:

-Phone      320px  iPhone 5/SE
-Tablet     768px  iPad
-Desktop    1366px 
-Big Desktop > 1366px
415px
*/
/* 
------------- General -------------
*/
body {
    background-color: #fafcff;
    font-family: "Nunito Sans", sans-serif;
}

section h2 {
    margin: 45px 0 30px 0;
}

span.blue {
    color: #6dadf6;
}

span.green {
    color: #7dd25a;
}

span.red {
    color: #cc3856;
}

h1,
h2,
h3 {
    font-weight: bolder;
}

/* 
------------- Header -------------
*/
header {
    line-height: 40px;
    background: transparent linear-gradient(77deg, #e8eff5 0%, #f8f8f8 100%) 0% 0% no-repeat padding-box;
    position: relative;
    overflow: hidden;
    /* 
  ------------- Body top circles -------------
  */
    /* 
    ------------- Hero section -------------
    */
}

@media (max-width: 508px) {
    header {
        margin: 0;
    }
}

header .container {
    position: relative;
    min-height: 600px;
    padding: 45px 0 0 0;
    box-sizing: border-box;
}

header .logo-type {
    font-weight: bold;
    font-size: 32px;
    border: 4px solid #1f6ecc;
    box-sizing: border-box;
    border-radius: 7px;
    text-align: center;
    font-family: "Rift";
    padding: 0 12px;
    float: left;
    z-index: 100;
}

@media (max-width: 508px) {
    header .logo-type {
        position: relative;
        margin-left: 27px;
        font-size: 25px;
        z-index: 100;
    }
}

header .menu-icon {
    position: relative;
    cursor: pointer;
    z-index: 10;
    float: right;
    top: 12px;
    right: 28px;
    display: none;
}

@media (max-width: 508px) {
    header .menu-icon {
        display: block;
        zoom: 1.8;
    }
}

header .menu-icon__line {
    display: block;
    position: relative;
    background: #000;
    height: 2px;
    width: 20px;
    border-radius: 4px;
}

header .menu-icon__line::before, header .menu-icon__line::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background: #000;
    transition: background .8s ease;
}

header .menu-icon__line::before {
    transform: translateY(-5px);
}

header .menu-icon__line::after {
    transform: translateY(5px);
}

header .menu-btn {
    display: none;
}

header .menu-btn:checked ~ #nav-links {
    opacity: 1;
    clip-path: circle(100% at center);
}

@media (max-width: 508px) {
    header #nav-links {
        margin: 0 !important;
        padding: 0 !important;
    }
}

@media (min-width: 1000px) {
    header nav {
        float: right;
    }
    header nav ul {
        padding: 0;
        margin: 6px 0 0 0;
    }
    header nav ul li {
        display: inline-block;
        padding: 0 30px;
    }
    header nav ul li a {
        text-decoration: none;
        font-weight: bold;
        font-size: 19px;
        letter-spacing: 0px;
        color: #504f4f;
        text-transform: capitalize;
    }
    header nav ul li a:hover {
        text-decoration: none;
    }
}

@media (max-width: 508px) {
    header nav {
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        opacity: 1;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        font-size: 1.8rem;
        color: #fff;
        background: #fff;
        z-index: 1;
        transition: opacity .8s .5s, clip-path 1s .2s;
        clip-path: circle(0px at top right);
    }
    header nav ul {
        padding: 0;
        margin-top: 70px;
    }
    header nav li {
        list-style: none;
        text-decoration: none;
        padding-bottom: 20px;
    }
    header nav li a {
        color: #000;
    }
    header nav li a:hover {
        text-decoration: none;
    }
}

header .circles > div {
    position: absolute;
    z-index: 0;
    border-radius: 100%;
}

header .circles .big {
    width: 100vw;
    height: 90vw;
    background: transparent linear-gradient(257deg, #e8eff5 0%, #f8f8f8 100%) 0% 0% no-repeat padding-box;
    top: -50vw;
    right: -50vw;
}

header .circles .circle-1 {
    width: 100px;
    height: 100px;
    background: transparent linear-gradient(117deg, #ffd6e8 0%, #f17a9e 53%, #c766ef 100%) 0% 0% no-repeat padding-box;
    opacity: 0.25;
    top: 228px;
    right: 25%;
}

header .circles .circle-2 {
    width: 159px;
    height: 159px;
    background: transparent linear-gradient(117deg, #ffd6e8 0%, #f17a9e 53%, #c766ef 100%) 0% 0% no-repeat padding-box;
    opacity: 0.25;
    bottom: 100px;
    right: 45%;
}

header .circles .circle-3 {
    width: 80px;
    height: 80px;
    background: transparent linear-gradient(117deg, #ffd6e8 0%, #f17a9e 53%, #c766ef 100%) 0% 0% no-repeat padding-box;
    opacity: 0.25;
    bottom: -20px;
    right: 28%;
}

header .hero-image {
    position: absolute;
    bottom: 0;
    right: 100px;
    max-width: 420px;
}

@media (max-width: 992px) {
    header .hero-image {
        display: none;
    }
}

header .hero {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    left: 0;
}

header .hero .hello {
    font-size: 60px;
    font-weight: 500;
}

header .hero h1 {
    font-weight: bolder;
    font-size: 72px;
}

header .hero h2 {
    font-weight: bold;
    font-size: 32px;
}

@media (max-width: 508px) {
    header .hero {
        margin-left: 27px;
        margin-top: 87px;
        padding-bottom: 100px;
        line-height: 1;
    }
    header .hero h1 {
        font-size: 95px;
    }
    header .hero h2 {
        font-size: 25px;
    }
}

/* 
------------- About section -------------
*/
@media (max-width: 508px) {
    #grid-wrapp {
        display: grid;
        justify-content: center;
        justify-items: center;
        padding: 0px 30px;
    }
}

#grid-wrapp section#about {
    padding: 60px 90px;
    margin: 30px 0;
    overflow: hidden;
    position: relative;
    border: 1px solid #eee;
}

@media (max-width: 508px) {
    #grid-wrapp section#about {
        height: 653px;
        width: 400px;
        padding: 0 30px;
        border-radius: 2px;
        box-shadow: 0px 13px 49px #8D8D8D3B;
        background: #FEFEFE 0% 0% no-repeat padding-box;
        border: 2px solid #D4D7D9;
        border-radius: 5px;
        opacity: 1;
        bottom: 50px;
    }
    #grid-wrapp section#about:before {
        content: '';
        opacity: 0;
    }
    #grid-wrapp section#about .row {
        display: grid;
        margin: 0;
    }
    #grid-wrapp section#about .row .content h2 {
        position: relative;
        top: 190px;
        width: 150px;
        left: 60px;
    }
    #grid-wrapp section#about .row .content #mobile-box p#mobile-p {
        opacity: 1;
        width: 310px;
        position: absolute;
        top: 340px;
        left: 10px;
    }
    #grid-wrapp section#about .row .content #mobile-box input {
        opacity: 0;
        position: absolute;
        pointer-events: none;
    }
    #grid-wrapp section#about .row .content #mobile-box p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    #grid-wrapp section#about .row .content #mobile-box input:focus ~ label {
        outline: -webkit-focus-ring-color auto 15px;
    }
    #grid-wrapp section#about .row .content #mobile-box input:checked + p {
        -webkit-line-clamp: unset;
    }
    #grid-wrapp section#about .row .content #mobile-box input:checked ~ label {
        display: none;
    }
    #grid-wrapp section#about .row .content #mobile-box label {
        color: #6dadf6;
        position: relative;
        top: 275px;
        left: -35px;
    }
    #grid-wrapp section#about .row .content p {
        opacity: 0;
    }
    #grid-wrapp section#about .hero-side {
        position: absolute;
        top: 42px;
        left: 75px;
    }
    #grid-wrapp section#about .hero-side h3 {
        display: none;
    }
    #grid-wrapp section#about .hero-side button.download {
        position: relative;
        top: 290px;
        right: 70px;
    }
}

@media (min-width: 1000px) {
    #grid-wrapp section#about #mobile-box {
        display: none;
    }
}

#grid-wrapp section#about:before {
    position: absolute;
    top: -10%;
    right: -30%;
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(241deg, #e8eff5 0%, #f8f8f8 100%) 0% 0% no-repeat padding-box;
    content: " ";
    display: block;
    border-radius: 0 0 0 100%;
}

#grid-wrapp section#about .hero-side {
    text-align: center;
}

#grid-wrapp section#about .hero-side h3 {
    color: #606060;
    padding: 15px 0;
    font-size: 21px;
}

#grid-wrapp section#about .content {
    padding: 30px;
    font-weight: 700;
    color: #8e8e8e;
}

#grid-wrapp section#about .hero-circle {
    border: 9px solid #563ed2;
    border-radius: 100%;
    overflow: hidden;
}

#grid-wrapp section#about .hero-circle img {
    max-width: 100%;
    display: block;
    border: 9px solid #fff;
    border-radius: 100%;
}

#grid-wrapp section#about button.download {
    background: #1473e6 0% 0% no-repeat padding-box;
    border-radius: 25px;
    border: none;
    font-weight: bolder;
    color: #fff;
    width: 206px;
    height: 50px;
}

/* 
------------- Specialization section -------------
*/
section#spec {
    margin: 30px 0;
}

@media (max-width: 508px) {
    section#spec {
        display: grid;
        grid-gap: 20px;
        width: 400px;
        margin: 0;
    }
    section#spec .row {
        display: grid;
        grid-gap: 25px;
    }
}

section#spec .box {
    width: 100%;
    background: #fefefe 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 27px #4a494914;
    border-radius: 1px;
    text-align: center;
    padding: 30px 0;
}

section#spec .box h4 {
    font-weight: bold;
}

/* 
------------- Projects section -------------
*/
section#projects .box {
    margin-bottom: 90px;
}

section#projects .box img {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    height: 200px;
}

section#projects .box h5 {
    color: #676767;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

section#projects .box small {
    color: #bcbcbc;
    font-weight: bold;
}

section#projects .more {
    width: 200px;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    font-size: 21px;
    color: #676767;
}

section#projects .more svg {
    color: #1473e6;
    font-size: 30px;
    margin-left: 10px;
}

/* 
------------- Testimonials section -------------
*/
section#testimonials .avatars {
    display: inline-block;
    vertical-align: top;
    padding: 135px 0;
    width: 200px;
    box-sizing: border-box;
}

@media (max-width: 508px) {
    section#testimonials .avatars {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 100px;
        margin-top: 38px;
    }
}

section#testimonials .avatars .avatar {
    width: 50px;
    height: 50px;
    border: 6px solid #333;
    border-radius: 100%;
    margin: -10px auto 0 auto;
    background-color: #fff;
    background-size: cover;
    background-position: center center;
}

section#testimonials .avatars .avatar:nth-child(1) {
    border-color: #fe3f7a;
}

section#testimonials .avatars .avatar:nth-child(2) {
    border-color: #1473e6;
}

section#testimonials .avatars .avatar:nth-child(3) {
    border-color: #feb83f;
}

section#testimonials .avatars .avatar:nth-child(4) {
    border-color: #69e6a8;
}

section#testimonials .wrapper {
    padding: 90px 45px;
    width: calc(100% - 240px);
    box-sizing: border-box;
    display: inline-block;
}

@media (max-width: 508px) {
    section#testimonials .wrapper {
        padding: 0;
        width: auto;
        position: relative;
        top: 100px;
        display: flex;
        zoom: .65;
    }
}

section#testimonials .quotes {
    position: relative;
}

section#testimonials .quote {
    width: 100%;
    position: relative;
    padding: 60px 140px 0 90px;
    height: 240px;
}

section#testimonials .quote:after {
    position: absolute;
    top: 110px;
    right: 80px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #fff;
    content: ' ';
    display: block;
    z-index: 1;
}

section#testimonials .quote svg {
    fill: #136edd;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.7));
}

section#testimonials .quote > * {
    position: relative;
    z-index: 1;
}

section#testimonials .quote span.double-quote {
    font-size: 60px;
    font-weight: bold;
    vertical-align: top;
    display: inline-block;
    line-height: 0;
    height: 30px;
    margin-top: -20px;
    margin-left: -34px;
    color: #d9d9d9;
    position: relative;
}

section#testimonials .quote span.double-quote:last-child {
    margin-left: 0;
    margin-top: -5px;
}

section#testimonials .quote .quoted-from {
    margin-top: 100px;
    text-align: center;
}

section#testimonials .quote .quoted-from .name {
    font-weight: bold;
    font-size: 21px;
}

section#testimonials .quote .quoted-from .title {
    color: #a1a1a1;
    font-size: 17px;
}

section#testimonials .quote .avatar {
    border: 8px solid #136edd;
    width: 90px;
    height: 90px;
    background-color: #fff;
    margin: -100px auto 45px auto;
    border-radius: 100%;
    z-index: 4;
    position: relative;
    background-size: cover;
    background-position: center center;
}

section#testimonials .quote p {
    color: #fff;
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    font-weight: 500;
    font-size: 21px;
}

section#testimonials .quote:nth-child(2) {
    z-index: 3;
}

section#testimonials .quote:nth-child(2) svg {
    filter: none;
}

section#testimonials .quote:nth-child(2), section#testimonials .quote:nth-child(3), section#testimonials .quote:nth-child(4) {
    opacity: 0.5;
    filter: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section#testimonials .quote:nth-child(2) svg, section#testimonials .quote:nth-child(3) svg, section#testimonials .quote:nth-child(4) svg {
    filter: none;
    opacity: 1;
}

section#testimonials .quote:nth-child(2) > *, section#testimonials .quote:nth-child(3) > *, section#testimonials .quote:nth-child(4) > * {
    opacity: 0;
}

section#testimonials .quote:nth-child(2) {
    transform: matrix(0.99, 0.1, -0.1, 0.99, 0, 0);
    margin-top: -40px;
    z-index: -1;
    opacity: 0.5;
}

section#testimonials .quote:nth-child(3) {
    margin-top: -10px;
    transform: matrix(1, 0.03, -0.03, 1, 0, 0);
    z-index: -2;
}

section#testimonials .quote:nth-child(4) {
    z-index: -3;
}

section#clients img {
    width: 200px;
    height: auto;
    width: auto;
    display: block;
}

section#contact {
    padding: 45px 0;
}

section#contact .email {
    font-size: 29px;
    font-weight: bold;
    margin: 15px 0 55px 0;
}

section#contact .phone,
section#contact .address {
    font-size: 22px;
    margin: 15px 0 45px 0;
    color: #858585;
    font-weight: bold;
}

section#contact input,
section#contact textarea {
    width: 100%;
    height: 60px;
    background: #fefefe 0% 0% no-repeat padding-box;
    border: 1px solid #d8d8d8;
    margin: 15px 0;
    padding: 0 15px;
    box-sizing: border-box;
}

section#contact textarea {
    padding: 15px;
    min-height: 200px;
}

section#contact button {
    border: none;
    width: 220px;
    height: 60px;
    background: #212020 0% 0% no-repeat padding-box;
    text-transform: uppercase;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
}

@media (max-width: 508px) {
    section#contact button {
        position: relative;
        left: 90px;
        top: 40px;
        margin-bottom: 40px;
    }
}
